<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 p-0">
      <div class="flex-shrink-0 py-3 bg-sidebar">
        <a class="d-flex align-items-center text-decoration-none header-sidebar">
          <p>DASHBOARD</p>
        </a>
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-to align-items-center active  collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              ESTUDIANTE
            </button>
          </li>
          <li class="mb-1">
            <button class="btn btn-to align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true" routerLink="/courses/list/" routerLinkActive="active" ariaCurrentWhenActive="page">
              CURSO
            </button>
          </li>
          <li class="mb-1">
            <button class="btn btn-to align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
              INSCRIPCION
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 px-3">
      <h4>Lista Cursos</h4>
      <div class="row">
        <div class="col-6">
          <mat-card>
            <mat-card-title>NUEVO CURSO</mat-card-title>
            <mat-card-actions align="end">
              <button mat-flat-button color="primary" (click)="navigationRoute('courses/new')">Agregar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div *ngFor="let course of courses$ | async">
        <mat-card>
          <mat-card-title>{{ course.id }} - {{ course.nameCourses }}</mat-card-title>
          <mat-card-subtitle>Impartido por {{ course.teacher }} del {{ course.startDate | date: 'dd/MM/yyyy' }} al {{ course.endDate | date: 'dd/MM/yyyy' }}
          </mat-card-subtitle>
          <mat-card-actions align="end">
            <button mat-flat-button class="btnprimary" (click)="openDialog(course)">Editar</button>
            <button mat-flat-button class="btnsecondary" (click)="delete(course.id)">Eliminar</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>
    </div>
  </div>
</div>

