<!-- <div>
  <h1> {{ session$ | async | json }} </h1>
</div> -->
<header class="py-3 mb-3 border-bottom sticky-top shadow bg-header">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none">
      F4 SYSTEM
    </a>
    <div class="d-flex align-items-center">
      <form class="w-100 me-3" role="search">
      </form>
      <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul *ngIf="session$" class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" routerLink="/courses/list">cursos</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-5 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <span class="mb-3 mb-md-0 text-social-networks">&copy; 2022 Company, Inc</span>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-social-networks" href="#"><i class="bi bi-twitter"></i></a></li>
    <li class="ms-3"><a class="text-social-networks" href="#"><i class="bi bi-instagram"></i></a></li>
    <li class="ms-3"><a class="text-social-networks" href="#"><i class="bi bi-facebook"></i></a></li>
  </ul>
</footer>
